Source: jasper
Section: web
Priority: optional
Maintainer: aqtrans <aqtrans@jba.io>
Homepage: https://git.jba.io/go/jasper

Package: jasper
Architecture: amd64
Depends: libc6, adduser
Description: Generates a "Thats a Paddlin'" based on given URLs
